{% if parameter_redis_commander_auth_username is defined and parameter_redis_commander_auth_username != '' and parameter_redis_commander_auth_password is defined and parameter_redis_commander_auth_password != '' %}--http-auth-username {{ parameter_redis_commander_auth_username }} --http-auth-password {{ parameter_redis_commander_auth_password }}{% endif %}
