
    index index.html index.htm index.php;

    location / {
        # try to serve file directly, fallback to app.php
        try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \.php(/|$) {
        fastcgi_pass {{ role_support_dev_site__setup__fpm_listen }};
        fastcgi_param PHP_ADMIN_VALUE "open_basedir = {{ role_support_dev_site__setup__source_path }}/:/tmp/";
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param HTTPS off;
    }


    location ~ /\.ht {
        deny all;
    }

