    include {{ role_package_nginx__var__configs_enabled }}/*;
    
    server_name {% if role_support_dev_site__setup__nginx_server_name|trim != '' %}{{ role_support_dev_site__setup__nginx_server_name }}{% else %}{{ fact_eth_ips.ip }}{% endif %};
    root {{ role_support_dev_site__setup__web_path }};
    fastcgi_param PHP_ADMIN_VALUE "open_basedir = none";
    
    more_set_headers 'Access-Control-Allow-Origin: *';
    
    include {{ role_support_dev_site__setup__nginx_path }}/*;
