db:
    host: localhost
    name: pinba
    user: {{ role_package_pinba_gui__var__mysql_user }}
    pass: {{ role_package_pinba_gui__var__mysql_password }}

base_url: /
logging:
    long_request_time:
        global: 1.0
    heavy_request:
        global: 30000
    heavy_cpu_request:
        global: 1

locale:  en

cache: array

records_lifetime: P1M
aggregation_period: PT1M

pagination:
    row_per_page: 50

secure:
    enable: false